* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.left__link {
  display: none;
  color: #fff !important;
}
.leftText:hover .left__link {
  display: block;
  color: #fff !important;
}
.course__home-bg-left {
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  background-image: url('http://localhost:3000/images/course/home-scent.jpg');
}
.course__home-bg-center {
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  background-image: url('http://localhost:3000/images/course/home-diffuser1.jpg');
}
.course__home-bg-right {
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  background-image: url('http://localhost:3000/images/course/course-perfume2.jpg');
}
.bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
.TextAll {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: flex-end;
  color: #fff;
  /* border: 1px solid #CCC; */
}
.leftText {
  height: 300px;
  opacity: 0.7;
}
.leftText:hover {
  transition: 0.5s;
  opacity: 1;
}
.middleText {
  height: 300px;
  opacity: 0.7;
}
.middleText:hover {
  transition: 0.5s;
  opacity: 1;
}
.rightText {
  height: 300px;
  opacity: 0.7;
}
.rightText:hover {
  transition: 0.5s;
  opacity: 1;
}
.article {
  width: 300px;
  margin-bottom: 30px;
}
